.element {
  max-width: 282px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.element__image {
  max-width: 282px;
  min-height: 282px;
  border-radius: 9px 9px 0 0;
}
.element__title {
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__text {
  margin: auto;
  margin-left: 21px;
  display: flex;
  justify-content: space-between;
}
.element__like {
  width: 21px;
  height: 19px;
  margin: auto 15px;
  cursor: pointer;
}

.element__like:hover {
  opacity: 70%;
}
.active {
  display: none;
}

.element__trash {
  background: none;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  height: 19px;
  cursor: pointer;
}

.element__trash:hover {
  opacity: 70%;
}

@media screen and (max-width: 768px) {
  .element {
    margin: auto;
    max-width: 350px;
  }

  .element__image {
    max-width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .element {
    max-width: 282px;
  }
  .element__image {
    max-width: 282px;
  }
}
